<%= javascript_include_tag "home/index" %>
<%= javascript_include_tag "rate" %>
<div class='filter'>
  <h3> category: </h3>
  <select onChange='applyCategory(this)'>
    <option selected value=-1>Select category</option>
    <% @categories.each do |category| %>
      <option value=<%= category.id %>>  <%= category.name %>  </option>
    <% end %>
  </select>
</div>

<div class='movies'>
  <% @movies.each do |movie| %>
    <div class='movie col-md-10 col-xs-12'>
      <a href=<%= "/movies/#{movie.id}" %>><h2> <%= movie.title %> </h2></a>
      <h3 class='movie-text'> <%= movie.text %> </h3>
      <h3 class='movie-category'> <%= movie.category.name %> </h3>
      <% if user_signed_in? %>
        <h3 class='movie-rating' id=<%="rating-#{movie.id}"%>> <%= movie.raiting %> </h3>
        <% if !movie.rated_by_me %>
          <div class='rate' id=<%="rate-#{movie.id}"%>>
            <% 0.upto(10) do |rate| %>
              <button class='rate-button' onClick=<%= "rateMovie(" + movie.id.to_s + "," + rate.to_s + ")" %>><%= rate %></button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @movies %>
</div>